# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
.venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Profiling
*.prof
*.lprof
